<!DOCTYPE html>
{% load static %}  <link rel="stylesheet" href="{% static '/main_form.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOLSEYE</title>
</head>
<body>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'account' %}">Profil</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
        </ul>
    </nav>
</header>
<a> Witaj {{ user.username }} </a>
<br>
{#<a> AWATAR </a>#}
{#<br>#}
{#<a> Ilość twoich pytań: X</a>#}
<br>
<a href="/boolseye/account/questions">Twoje pytania</a></li>
{#<br>#}
{#<a href="/boolseye/">Zapisane pytania</a></li>#}
<br>
{#<a href="/boolseye/">Edytuj konto</a></li>#}
</body>
</html>