<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% load static %}  <link rel="stylesheet" href="{% static '/main_form.css' %}">
<html>

<script>
$(document).ready(function(){
  $(".question").click(function(){
    $(this).next().toggle();
  });
});
document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
</script>

<head>
    <title>BOOLSEYE</title>
</head>
<body>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'account' %}">Profil</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
        </ul>
    </nav>
</header>
<main>
{#    <label for="sort-by">Sortuj według:</label>#}
{#  <select id="sort-by" name="sort-by">#}
{#    <option value="name">Data dodania</option>#}
{#    <option value="date">Popularność</option>#}
{#    <option value="price">Losowo</option>#}
{#  </select>#}
{#  <button type="submit">Akceptuj</button>#}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <br><br>
    <br><br>
{#                <label for="image">Obraz:</label>#}
{#                <input type="file" id="image" name="image">#}
    <br>
                <label for="question">Pytanie:</label>
                <input type="text" id="question" name="question" required>
    <br>
                <label for="answer">Odpowiedź:</label>
                <input type="text" id="answer" name="answer" required>
    <br>
            <input type="submit" value="Dodaj post">
    </form>
    <br><br>
    <br><br>

    {% for post in posts %}

<div class="post">
    <p class="added">{{ post.profile.user }}, {{ post.created }}</p>
    <p class="question">{{ post.question }}</p>
    <p class="answer" style="display:none;">{{ post.answer }}</p>
    <img src="{{ post.images.url }}">
    <div class="interactions">
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button class="like" type="submit">Pomocne</button>
            <span class="like-count">{{ post.likes.count }}</span>
        </form>
        <form action="{% url 'main' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ post.id }}">
            <textarea name="text" id="comment_text" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Skomentuj">
        </form>
        <br>
            <br>
{#            <button class="save">Zapisz</button>#}
    </div>
    <h3>Komentarze:</h3>
    <div class="comments">
        {% for comment in post.post_comments.all %}
        <div class="comment">
            <p>{{ comment.text }} by {{ comment.profile.user.username }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


</main>
</body>
</html>