<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% load static %}  <link rel="stylesheet" href="{% static '/main_form.css' %}">
<html>

<script>
$(document).ready(function(){
  $(".question").click(function(){
    $(this).next().toggle();
  });
});
document.addEventListener("DOMContentLoaded", function(event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'account' %}">Profil</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
        </ul>
    </nav>
</header>
<a> Witaj {{ user.username }}, oto twoje pytania: </a>
{% for post in posts %}

<div class="post">
    <p class="question">{{ post.question }}</p>
    <p class="answer" style="display:none;">{{ post.answer }}</p>
    <img src="{{ post.images.url }}">
    <br>
        <span class="like-count">pomocne +{{ post.likes.count }}</span>
        <button class="edit">Edytuj post</button>
        <button class="delete">Usuń post</button>

    </div>
    <h3>Komentarze:</h3>
    <div class="comments">
        {% for comment in post.post_comments.all %}
        <div class="comment">
            <p>{{ comment.text }} by {{ comment.profile.user.username }}</p>
            </div>
        {% endfor %}
{% endfor %}
</body>
</html>