<!DOCTYPE html>
{% load static %}  <link rel="stylesheet" href="{% static '/login_form.css' %}">
{% load static %}  <link rel="stylesheet" href="{% static '/main_form.css' %}">

<html>
  <head>
    <meta charset="UTF-8">
    <title>BOOLSEYE</title>
  </head>
  <body>
  <header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'account' %}">Profil</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>
        </ul>
    </nav>
</header>
    <h2>Rejestracja:</h2>
    <form method="post">
        {% csrf_token %}
      <label for="login">Podaj login:</label>
      <input type="text" id="login" name="login" required>
      <br><br>
        <label for="email">Podaj email:</label>
      <input type="email" id="email" name="email" required>
      <br><br>
      <label for="password">Ustaw hasło:</label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <input type="submit" value="Zarejestruj">
        <br><br>
        <a> Masz już konto?</a>
        <a href = "/boolseye/login/">Zaloguj się</a>
    </form>


  </body>
</html>