<!DOCTYPE html>
{% load static %}  <link rel="stylesheet" href="{% static '/css/main_form.css' %}">
<html lang="en">
<head>
    <title>BOOLSEYE</title>
    <meta charset="UTF-8">
</head>
<body>
{% if user.is_authenticated %}
 <header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'account' %}">Profil</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>

        </ul>
    </nav>
</header>

 {% else %}
<header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'main' %}">Strona główna</a></li>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'login' %}">Logowanie</a></li>

        </ul>
    </nav>
</header>

 {% endif %}
    <!DOCTYPE html>
<html>
    <style>
      body {
        background-color: #f2f2f2;
      }

      h1 {
        margin: 0;
      }

      main {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      }

    </style>
  </head>
  <body>

    <main>
      <h2>Dane kontaktowe</h2>


        <li>Adres e-mail: kostrubiec51@gmail.com</li>



    </main>
  </body>
</html>
